{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="">
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
		<title>Agendamento</title>
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/">UFPEL</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-item nav-link" href="/agendamento">Agendamento</a>
						<a class="nav-item nav-link" href="/motorista">Motorista</a>
					</div>
				</div>
			</nav>
		</header>
		<main>
			<section id="filters">
				<form method="POST">
					{% csrf_token %}
					<select name="route" id="route-select">
						<option value="{{ selected_route }}">{{ selected_route }}</option>
						{% for route in routes %}
							{% if route != selected_route %}
								<option value="{{ route }}">{{ route }}</option>
							{% endif %}
						{% endfor %}
					</select>
					<input type="date" name="date" id="date" value="{{ date }}">
					<input type="submit" value="Filtrar">
				</form>
			</section>
			<section id="routestops">
				{% for routestop in routestops %}
					<div class="card">
						<div class="card-body">
					  		<h5 class="card-title">{{ routestop.stop_order }} - {{ routestop.stop.stop_name.capitalize }}</h5>
					  		<!--<p class="card-text"></p>-->
							<!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
					  		<a href="reservar/{{ routestop.id }}" class="btn btn-primary">Reservar</a>
							<!--<a href="cancelar_reserva/{{ reservation.id }}" class="btn btn-primary">Cancelar</a>-->
						</div>
				  	</div>
				{% endfor %}
			</section>
			<br>
			<section id="map" class=" image d-flex flex-column justify-content-center align-items-center" >
				<button class="btn btn-secondary">
					<div class="card p-4">
						<div class=" image d-flex flex-column justify-content-center align-items-center"> 
							{{ fig|safe }}
						</div>
					</div>
				</button>
			</section>
		</main>
		<footer>

		</footer>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	</body>
</html>